<% if (locals.user){ %>
	<div id="user-chat-box" class="animated bounceInUp z-depth-5">
		<div id="hider" class="btn bg-warning rounded-circle px-1 py-0" onclick="doIt()"><i class="far fa-times-circle"></i></div>
		<div id="shower" class="btn bg-warning rounded-circle px-1 py-0" onclick="doItAgain()"><i class="fas fa-chevron-circle-up"></i></div>
		<div id="topper" class="z-depth-2">
			<p id="user-chat-box-header">Chat with us, we are online!</p>
		</div>
		<div id="content">
			<ul id="chat-messages-list" class="p-2">
				<li class="other-message">
					<span>
						Welcome to Thunder Bird :) <br>
						Put your thoughts with all users of thunder bird community.
					</span>
				</li>
				<li class="self-message">
					<span>hii</span>
				</li>
	
			</ul>
			<div id="chat-message-input-container" class="m-2">
					<input type="text" name="text" id="chat-message-input" class="form-control rounded" placeholder="type something here..."> 
					<button type="submit" id="send-message" class="btn btn-md btn-success rounded-pill">Send</button>
			</div>
		</div>
	</div>
<% } %>
