<footer>
   <p>&copy; Sumit Kumar. All Rights Reserved</p>

    <ul>
        <li> <a href="/">Home</a></li>
        <% if(locals.user) {%>
        <li>
            <a href="/user/profile/<%=user.id%>">Profile</a>
        </li>
        <%}%>
    </ul>
</footer>