<footer class="page-footer font-small pt-3 .fixed-bottom">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mt-2 mb-2">Thunder Bird</h5>
                <p> Fully Secured  <br>
                    Find Local Friends <br>
                    Free Of Cost. </p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-2">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About the Developer</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr style="border-top: 1px groove white;">

            <% if(locals.user) {%>
            <!-- Grid column -->
            <div class="col-md-2 mx-auto">
                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-2 mb-2">User</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="/users/profile/<%=user.id%>">Profile</a>
                    </li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <%}%>
            <!-- Grid column -->


            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-2 mb-2">Contact Us</h5>

                <ul class="list-unstyled">
                    <li>
                        <img src="https://img.icons8.com/fluent/48/000000/youtube-play.png" class="icon-width mr-2"/>
                        <a href="https://www.youtube.com/watch?v=EprZAsXGX50"> Subscribe Now</a>
                    </li>
                    <li>
                        <img src="https://img.icons8.com/fluent/48/000000/phone-not-being-used.png" class="icon-width mr-2"/>
                        <span>+91 9982664778</span>
                    </li>
                    <li>
                        <img src="https://img.icons8.com/fluent/48/000000/invite.png" class="icon-width mr-2"/>
                        <span>kumarsumit16022000</span>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <%if(!locals.user){%>
    <hr style="border-top: 1px groove white;">
    <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <h5 class="mb-1">Register for free</h5>
            </li>
            <li class="list-inline-item">
                <a href="/users/signUp" class="btn btn-danger btn-rounded">Sign up!</a>
            </li>
        </ul>
    <%}%>
    <!-- Call to action -->
    <hr style="border-top: 1px groove white;">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center wow bounceInDown" style="height: 40px">
        <li class="list-inline-item">
            <a href="https://www.facebook.com/people/Sumit-Kumar/100027802071821" class="btn-floating btn-fb mx-1">
                <img src="https://img.icons8.com/fluent/48/000000/facebook-new.png" class="icon-width2"/>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://twitter.com/sumitku75957708" class="btn-floating btn-tw mx-1">
                <img src="https://img.icons8.com/fluent/48/000000/twitter.png" class="icon-width2"/>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/sumit-kumar-8a92811a2/" class="btn-floating btn-li mx-1">
                <img src="https://img.icons8.com/fluent/48/000000/linkedin-2.png" class="icon-width2"/>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.instagram.com/kumarsumit16022000/" class="btn-floating btn-in mx-1">
                <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png" class="icon-width2"/>
            </a>
        </li>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-2">© 2020 Copyright:
        <a href="/"> kumarsumit16022000@gmail.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
<!-- wow.min.js for Reveal Animations When Scrolling -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="<%=assetPath('js/footer.js') %>"></script>