<header id="layout-header">
    <!-- <h1>Sumit</h1>

      <div id="heading-control">
        <% if(locals.user){%>
          <p><a href="/users/profile/<%=user.id%>"><%=user.name%></a></p>
          <p><a href="/users/signOut"> sign out </a></p>
        <%}else {%>
          <p><a href="/users/signIn">Sign In</a></p>
          <p><a href="/users/signUp">Sign Up</a></p>
        <%}%>
        </div> -->
        <nav class="navbar navbar-dark navbar-expand-lg" style="background: #3e4551;">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="/">Thunder Bird</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <% if(locals.user){%>
              <li class="nav-item active">
                <a class="nav-link" href="/users/profile/<%=user.id%>"><%=user.name%><span class="sr-only"></span>(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/signOut">Sign Out</a>
              </li>
              <%}else {%>
              <li class="nav-item">
                <a class="nav-link" href="/users/signIn">Sign In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/signUp">Sign Up</a>
              </li>
              <%}%>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn my-2 mx-0 my-sm-0  btn-info" type="submit">Search</button>
            </form>
          <!-- </div> -->
        </nav>
</header>