<link rel="stylesheet" href="/css/home.css">
<div id="home-container">
        <section id="feed-posts">
                <% if(locals.user){%>
                <h4>Posts</h4>
                <form action="post/create" id="new-post-form" method="POST">
                        <textarea name="content" cols="30" rows="10" placeholder="Remember , be nice !"></textarea>
                        <input type="submit" value="post">
                </form>
                <%}%>
            <h4>posts till now</h4>
                 <ul>
                                <%- include('_post') -%>
                </ul>

        </section>

        <section id="user-friends">
                <h4>Friends</h4>
                <ul>
                        <% for(u of  users_list) {%>
                        <li>
                                <p><a href="/user/profile/<%=u.id%>"><%=u.name%></a></p>
                        </li>
                        <%}%>
                </ul>
        </section>
</div>