<h1>hii this is Sign In page :)</h1>
<form action="/user/create_session" method="POST">
    <input type="email" name="email" placeholder="your email" required>
    <input type="password" name="password" placeholder="your password" required>
    <input type="submit">
</form>