<link rel="stylesheet" href="/css/sign_up.css">

<h1 id="sign-up-heading">Hello There</h1>
<div id="quality">
    <p><span><i class="far fa-check-circle"></i></span> Fully Secured</p>
    <p><span><i class="far fa-check-circle"></i></span> Find Local Friends</p>
    <p><span><i class="far fa-check-circle"></i></span> Free Of Cost</p>
</div>


<div id="sign-up-outer">   
    <div id="sign-up-section">
        <div id="sign-up-logo">
            <p>Sign Up</p>
        </div>

        <div id="form-section">
            <form action="/users/create_user" method="POST">
                <p><span><i class="fas fa-envelope"></i></span> User Name</p>
                <input type="text" name="name" placeholder="your name" class="sign-up-input" required>
                <p><span><i class="fas fa-envelope"></i></span> User Email</p>
                <input type="email" name="email" placeholder="your email"  class="sign-up-input" required>
                <p><span><i class="fas fa-key"></i></span> User Password</p>
                <input type="password" name="password" placeholder="your password"  class="sign-up-input" required>
                <p><span><i class="fas fa-key"></i></span> Confirm Password</p>
                <input type="password" name="confirm_password" placeholder="confim password"  class="sign-up-input" required>
                <button type="submit" id="sign-up-submit" value="create account"><span> Register</span> <i class="fas fa-space-shuttle"></i></button>
            </form>
        </div>

    </div>
</div>