<h1>hii this is Sign up page :)</h1>

<form action="/user/create_user" method="POST">
    <input type="text" name="name" placeholder="your name" required>
    <input type="email" name="email" placeholder="your email" required>
    <input type="password" name="password" placeholder="your password" required>
    <input type="password" name="confirm_password" placeholder="confim password" required>
    <input type="submit" value="create account">
</form>