footer{
    width: 100%;
    background-color: gray;
    color: white;
    display: flex;
    ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 8rem;
        li{
                a{
                    text-decoration: none;
                    color: white;
                }
        }
    }
}