.outer{
    height: auto;
    width: auto;
    .in-2{
        background-color: #aec3de;
        .profile_pic{
            border-radius: 20%;
            width:150px;
        }
    }
    .in-1{
        color: white;
        background-color: rgb(40, 63, 81);
    }
    .in-3{
        background-color: rgb(40, 63, 81);
    }
}

.inner{
    width: 100vw;
    height: auto;
}