#quality{
    display: flex;
    justify-content:center;
    p{
        margin: 10px;
        background: linear-gradient(to right,#06beb6 , #48b1bf);
        border-radius: 5px;
        padding: 15px;
        color: white;
        font-weight: bold;
        font-family: cursive;
        span{
            color: greenyellow;
            font-size: 20px;
        }
        box-shadow: 7px 7px 10px -5px #25383e;
        transition-duration: 1s;
    }
    p:hover{
        transition-duration: 1s;
    }
}

#sign-up-outer{
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
    display: flex;
    justify-content: center;
}