#sign-in-heading{
    font-family: cursive;
    text-align: center;
    text-shadow: 2px 2px gray;
}
#quality{
    display: flex;
    justify-content:center;
    p{
        margin: 10px;
        background: linear-gradient(to right,#06beb6 , #48b1bf);
        border-radius: 5px;
        padding: 15px;
        color: white;
        font-weight: bold;
        font-family: cursive;
        span{
            color: black;
            font-size: 20px;
            position: absolute;
            opacity: 0;
          
        }
        box-shadow: 7px 7px 10px -5px #25383e;
        transition-duration: 1s;
    }
    p:hover{
        transition-duration: 1s;
        span{
            opacity: 1;
            color: green;
            position: relative;
        }
    }
}

#sign-in-outer{
    // background-color: white;
    text-align: center;
    display: block;
    position: relative;
    #sign-in-section{
        display: inline-block;
        width: 50vw;
        height: 25rem;
        background-color: #25383e;
        border-radius: 20px;
        margin-top: 50px;
        font-size: 20px;

        #form-section{
            display: flex;
            margin-top: 20px;
            justify-content: center;
            color: white;
            form{
                width: 75%;
            }
            .sign-in-input{
                width: 100%;
                padding:10px;
                border-radius: 20px;
                border: none;
                outline: none;
                box-shadow: 0px 0px 10px 1px grey;
                transition: 0.3s;
                background-color: #e8f0fe;
            }
            .sign-in-input:hover{
                box-shadow: 0px 0px 0px 0px black;
                transition: 0.5s;
            }

            #sign-in-submit{
                border-radius: 50px;
                background-color: #f4511e;
                border: none;
                color: white;
                font-size: 20px;
                padding: 10px;
                width: 190px;
                margin-top: 35px;
                outline: none;

                .fa-space-shuttle{
                    padding: 4px;
                    position: absolute;
                }
                span {
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    transition: 0.5s;
                    padding-right: 20px;
                  }

                  span:after {
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    right: -50px;
                    transition: 0.5s;
                  }

              }
              
              #sign-in-submit:hover {
                span {
                    padding-right: 20px;
                  }
                  span:after {
                    opacity: 1;
                    right: 0;
                  }
              }
        }

        #sign-in-logo{
            display: inline-block;
            background-color: #25383e;
            width: 30%;
            color: white;
            margin-top: -28px;
            border-radius: 50px;
            box-shadow: 0px 5px 10px 1px black;
            p{
                font-weight: bold;
                font-size: 20px;
                padding: 15px;
                margin: 0px;
            }
        }
    }
}