#home-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between; }
  #home-container #feed-posts {
    width: 80%;
    padding: 10px; }
    #home-container #feed-posts #user-name {
      font-weight: bold; }
  #home-container #user-friends {
    width: auto;
    padding: 10px;
    border-left: 2px solid black;
    height: 100%; }

#check {
  display: inline; }
