.outer {
  height: auto;
  width: auto; }
  .outer .in-2 {
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(23).jpg"); }
    .outer .in-2 .profile_pic {
      border-radius: 20%;
      width: 150px; }
  .outer .in-1 {
    color: white;
    background-color: #283f51; }
  .outer .in-3 {
    background-color: #283f51; }

.inner {
  width: 100vw;
  height: auto; }
