<h1><%=passwordToken.user.name%></h1>
<h1><%=passwordToken.isValid%></h1>
<h1><%=passwordToken.token%></h1>

<a href="http://localhost:8000/users/reset-password/<%=passwordToken.token%>">Reset My Password</a>